// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override the defaults
// without modifying versioned files.

$image-bg: red !default;
$figcaption-bg: green !default;
$figcaption-padding: 30px !default;
$text-color: pink !default;
$border-color: #ffffff !default;
$border-margin: 5px !default;
$border-width: 4px !default;
$transition-duration: 0.35s !default;
$shift-distance: 10px !default;
