* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

body{
  background-color: black;
  width: 100%;
}



p{
    color: white;
    padding: 0px;
}

span{
  color: rgb(9, 240, 240);
}

h1, h2, h3, h4, h5{
  font-family: 'Heebo', sans-serif;
}

/* NAVBAR */

.icono-gt{
    font-size: 26px;
    color: rgb(9, 240, 240);
    text-decoration: none;
}

.footer-{    
    justify-content: end;
    margin-right: 30px;
}
.color-letra-nav{
  color: white;
}

.color-letra-nav:hover{
  color: rgb(9, 240, 240);
}

li{
  margin-right: 40px;
  font-size: 18px;
}

.btn-cv{
  background-color: rgb(9, 240, 240);
  border-radius: 30px;
  padding: 10px;
  
}

.color-letra-nav-cv{
  color: black;
}
.color-letra-nav-cv:hover{
  color: black;
}


/* Primera seccion. Mi nombre y foto */
.contenedor-img{
display: flex;
justify-content: center;
}

.mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}
.centrar{
    text-align: center;  
}
.titulo-front{
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 0px;
}

h1{
    color: white;   
}

h2 {
    margin-left: 130px;
    color: white;    
}
h3{
  color: white;
}

.linea-color{ 
  box-shadow: #5800FF 0px 2px 4px 0px;
}

/* .txt-fondo-uno{
  font-size: 150px;
  margin-bottom: 165px;
  margin-left: 8%;
  top: 108px;
  font-weight: 900;
  color: #3c3c3c;
  font-family: 'Heebo', sans-serif;
}
.txt-fondo-dos{
  font-size: 150px;
  margin-bottom: 30px;
  margin-left: 30%;
  top: 108px;
  font-weight: 900;
  color: #3c3c3c;
  font-family: 'Heebo', sans-serif;
} */


@media (max-width:1130px){
  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
  }

  .txt-fondo-uno{
    font-size: 100px;
    margin-bottom: 230px;
    margin-left: 13%;
    top: 108px;
    font-weight: 600;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }
  .txt-fondo-dos{
    font-size: 100px;
    margin-bottom: 30px;
    margin-left: 36%;
    top: 108px;
    font-weight: 600;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }

  li{
    margin-right: 20px;
    font-size: 18px;
  }
}

@media (max-width:1030px){

  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}

  .txt-fondo-uno{
    font-size: 95px;
    margin-bottom: 244px;
    margin-left: 13%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }
  .txt-fondo-dos{
    font-size: 95px;
    margin-bottom: 0px;
    margin-left: 32%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }

  .titulo-habilidades, .titulo-proyecto, .titulo-sobremi, .contactame {
    font-size: 40px !important;
  } 
}

@media (max-width:865px){

  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}

  .txt-fondo-uno{
    font-size: 85px;
    margin-bottom: 244px;
    margin-left: 13%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }
  .txt-fondo-dos{
    font-size: 85px;
    margin-bottom: 0px;
    margin-left: 29%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  } 

  .titulo-sobremi{
    margin-top: 70px !important ;
    font-size: 40px;
  }
}

@media (max-width:760px){

  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}

  .txt-fondo-uno{
    font-size: 75px;
    margin-bottom: 244px;
    margin-left: 12%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }
  .txt-fondo-dos{
    font-size: 75px;
    margin-bottom: 0px;
    margin-left: 27%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }

  .nombre:after {
    content: ' ';
    display: block;
  }

  .icono-containerProyecto{
    margin-top: 8%;
    width: 100%;
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    gap: 0px 0px; 

  }

}

@media (max-width:675px){

  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}

  .txt-fondo-uno{
    font-size: 60px;
    margin-bottom: 274px;
    margin-left: 13%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }
  .txt-fondo-dos{
    font-size: 60px;
    margin-bottom: 0px;
    margin-left: 37%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }

  .titulo-habilidades, .titulo-proyecto, .titulo-sobremi, .contactame {
    font-size: 40px !important;
  }

}

@media (max-width:630px){

  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}

  .txt-fondo-uno{
    font-size: 60px;
    margin-bottom: 274px;
    margin-left: 8%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }
  .txt-fondo-dos{
    font-size: 60px;
    margin-bottom: 0px;
    margin-left: 30%;
    top: 108px;
    font-weight: 400;
    color: #3c3c3c;
    font-family: 'Heebo', sans-serif;
  }

  .titulo-habilidades, .titulo-proyecto, .titulo-sobremi, .contactame {
    font-size: 30px !important;
  }

  .icono-container{
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 0px 0px; 
    column-gap: 40px !important;
  }
}


@media (max-width:595px){
  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}

  .text {
    background-color: rgb(9, 240, 240);
    background-image: none;
    color: black;
    font-size: 12px !important;
    padding: 7px 17px !important;
  }
  .icono-container{
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 0px 0px; 
    column-gap: 20px !important;
  }
}

@media (max-width:480px){
  .mi-foto{
    width: 300px;
    height:300px;
    border-radius:150px;
    border:2px solid rgb(9, 240, 240)
}
  .icono-containerProyecto{
    margin-top: 8%;
    width: 60%;
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    gap: 0px 0px; 
  }

  .redes{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .icono-container{
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 0px 0px; 
    column-gap: 15px !important;
  }

}

/* SECCION QUIEN SOY Y HABILIDADES */

.titulo-sobremi{
  margin-top: 160px;
  font-size: 40px;
}

.titulo-habilidades{ 
  margin-left: 17%; 
  margin-top: 160px; 
  font-size: 40px;
  
}

.email{
  display: block;
}

.containerr {
    display: flex;
  }
.txt-quiensoy{
    font-family: "Open Sans",sans-serif;
    line-height: 2.5;
    width: 80%;
}

.cont-sobre-mi{
  width: 60%;
  margin-right: 50px;

}
.cont-quiensoy{
  display: flex;
  justify-content: center;
  width: 100%;
}


.icono-containers{
  display: flex;
  justify-content: center;
}

.icono-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr ; 
    gap: 0px 0px; 
    column-gap: 60px;
}

.icono{
    display: flex;
    /* margin-right: 75px; */
    margin-top: 25px;
    flex-direction: column;
    text-align: center;

}

.nombre{
  font-weight: 700;
}

/* DISEÑO MOBILE */

@media (max-width:960px){

  .containerr {      
     display: flex;
     flex-direction: column;
  }

  .icono-container{
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 0px 0px;
    column-gap: 60px;
  }
/* 
  .icono{
  } */

  .txt-quiensoy{
    font-family: "Open Sans",sans-serif;
    line-height: 2.5;
    width: 80%;
}
.cont-sobre-mi{
  width: 100%;
  margin-right: 50px;

}

  .titulo-habilidades{
    margin-left: 40vw;
    margin-top: 60px;
    
  }

  .titulo-sobremi{
    margin-left: 37%; 
    margin-top: 80px;
  }

  .titulo-proyecto{
    margin-left: 40%;
    background-image: none;
  }

  h2 {
    margin-left: 30px;
    color: white;     
}
}

/* DISEÑO MOBILE */

@media (max-width:730px){

  .icono-container{ 
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 0px 0px; 
    column-gap: 60px;
  }

  .titulo-proyecto{
    margin-left: 36%;
  }
}

@media (max-width:640px){
/* .icono{
  display: flex;
  margin-right: 50px;
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
} 

.txt-quiensoy{
  font-family: "Open Sans",sans-serif;
  margin-top: 20px;
  margin-left: 12%;
  line-height: 1.5;
  margin-right: 12%;       
}

.titulo-habilidades{
  margin-left: 31%;
  margin-top: 60px;
  font-size: 30px;
} */

}

@media (max-width:480px){
  .icono{
    display: flex;
    /* margin-right: 20px;
    margin-top: 15px; */
    flex-direction: column;
    text-align: center;
  }

  .txt-quiensoy{
    font-family: "Open Sans",sans-serif;
    line-height: 2.5;
    width: 80%;
}

  .titulo-habilidades{
    margin-left: 23% !important;
    margin-top: 60px;
  }

  .titulo-proyecto{
    margin-left: 34%;
    background-image: none;
  }
}



@media (max-width:800px){
  .titulo-proyecto{
    padding-top: 20px;
    background-image: none;
  }

  .icono-container{
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 0px 0px; 
    column-gap: 60px;
  }

  .titulo-habilidades{
    margin-left: 38vw;
    margin-top: 60px;
  }
}






/* SECCION PROYECTOS */
#proyectos{
  padding: 15px;
  
  
}

.titulo-proyecto{
  font-size: 40px;
}

.container-proyecto{
  background-image: none;
  margin: 0 auto;
    padding: 30px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    width: 75%;
    text-align: center;
    align-items: center;   
    border: 3px solid rgb(9, 240, 240);
    border-radius: 10px;    
    margin-top: 30px;
    margin-bottom: 50px;
}

.h1-proyecto{
  background-image: none;
}

.proy-img{
  width: 100%;
  border-radius: 10px;
}

.texto-proyecto{
  background-image: none;
  padding: 0 50px 0 50px;
}

.explicacion-proyecto{
  background-image: none;
  margin-top: 60px;
  margin-bottom: 60px;
}

a {
  background-image: none;
  text-decoration: none;
}
a:hover{
  color: rgb(9, 240, 240);
}

.icono-containerProyecto{
  margin-left: 0px;
  margin-top: 8%;
  width: 20%;
  display: grid; 
  grid-template-columns: 0.4fr 0.4fr 0.4fr; 
  gap: 0px 0px; 
}


.iconoProyecto{
  margin-left: 35px;
  margin-right: 30px;
}


  div figure{
    padding: 5px;
    position: relative;
  }
  div figure:hover figcaption{
    display: block;
  }

  div figcaption{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.6);
    text-align: center;
    padding: 15px; 
  }

  .containers {
    position: relative;
    width: 95%;
    background-image: none;
    
  }
  .containers:hover{
    border: 1px solid #A149FA;
    transition: .8s ;
    border-radius: 10px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .middle {
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .text{
    margin-left: 5px;
    border-radius: 10px; 
  }
  
  .containers:hover .image {
    opacity: 0.6;
  }
  
  .containers:hover .middle {
    opacity: 1;  
  }
  
  .text {
    background-color: rgb(9, 240, 240);
    background-image: none;
    color: black;
    font-size: 16px;
    padding: 10px 22px;
  }


  .borde-enlace{
    border-radius: 20px;
    background-color:  black;
  }

  /* DISEÑO MOBILE */

  @media (max-width:1000px){

    .container-proyecto{
      display: flex;
      flex-direction: column;
        background-image: none;
        margin: 0 auto;
        padding: 5px;
        width: 75%;
        text-align: center;
        align-items: center;   
        border: 3px solid rgb(9, 240, 240);
        border-radius: 10px;    
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .texto-proyecto{
      background-image: none;
      padding: 0 10px 0 10px;
    }

    .icono-containerProyecto{
      margin-top: 8%;
      width: 100%;
      display: grid; 
      grid-template-columns: 0.4fr 0.4fr 0.4fr; 
      gap: 0px 0px; 

    }
    
    
    .iconoProyecto{
      margin-left: 20px;
      margin-right: 30px;
    }



.middle {
  display: flex;
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text{
  margin-left: 5px;
  border-radius: 10px; 
}

.containers:hover .image {
  opacity: 0.6;
}

.containers:hover .middle {
  opacity: 1;  
}

.text {
  background-color: rgb(9, 240, 240);
  background-image: none;
  color: black;
  font-size: 16px;
  padding: 10px 22px;
}

.borde-enlace{
  border-radius: 20px;
  background-color:  black;
}

}



 /* SECCION CONTACTO */

#contacto{
  padding-top: 90px;
  
  
}

.redes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contactame{
  font-size: 40px;
}

  /* FOOTER */
  .footer{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-top: 22px;
    font-size: 12px;
}


/* LINEA CELESTE DEBAJO DE LOS HEADERS */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(9, 240, 240);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* --------------------------------- */

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* NAVBAR RESPONSIVE */

@media (max-width:990px){  
  li{
    margin-right: 0px;
    font-size: 18px;
  }

  nav{
    display: none;
  }
  .nav-responsive{
    display: block;
    margin-top: -15px;
  }
  nav.responsive{
    display: block;
    /* position: sticky; */
    right: 0;
    top: 68px;
    /* width: 180px;
    margin-right: 25px; */
    
  }
  nav.responsive ul{
    display: block !important;

  }
  nav.responsive ul li{
    border-bottom: 1px solid white;
    padding: 10px;
  }

  .icono-menu{
    color: rgb(9, 240, 240);
    margin-left: 87%;
  }

}
.navbarr{
  display: flex;
  flex-direction: row;
 
}



.contenedor-menu{
  display: flex;
  justify-content: space-between;
  margin: 25px 32px 0px 32px;

}

